extends layout.jade

block acontent
	main
		h1(style='width: 400px; margin: 40px auto 20px auto;text-align: center')= 'error'
		p(style='width: 60%; margin: 20px auto; text-align: center')= message
		p(style='width: 100%; text-align: center; margin: 40px auto;')
			a(style='text-decoration: none; ' href='/') 返回问卷大厅 