<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>问卷大厅</title>
	<script type="text/javascript" src="../public/javascripts/jquery-2.2.3.js"></script>
	<link rel='stylesheet' href='../public/stylesheets/index.css'/>
</head>
<body>

<main>
	<section class='login'>
		<a href='/login'><input type='button' value='login'></input></a>
		<a href='/register'><input type='button' value='register'></input></a>
	</section>
	<section class='search'>
		<span><b>问卷搜索：</b></span>
		<input type='text' placeholder="问卷发起人、问卷名"></input>
		<input type='button' value='search'/>
	</section>
	<h3>发布中的问卷：</h3>
	<section>
		<ul class='publishing'>
			<li><a href="#">/06/12-2016/08/12 你最喜爱的东西？-----------small_li</a></li>
			<li><a href="#">/12-2016/08/12 你最喜爱的东西？-----------small_li</a></li>
			<li><a href="#">-2016/08/12 你最喜爱的东西？-----------small_li</a></li>
			<li><a href="#">16/08/12 你最喜爱的东西？-----------small_li</a></li>
			<li><a href="#">12 你最喜爱的东西？-----------small_li</a></li>
		</ul>
	</section>
</main>

<script type="text/javascript" src='../public/javascripts/index.js'></script>
</body>
</html>