doctype html
html
	head
		title= 'survey'
		meta(charset='utf-8' name='viewport' content='width=device-width, initial-scale=1')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		script(src='/javascripts/jquery-2.2.3.js')
		link(rel='stylesheet' href='/stylesheets/navbar.css')
		link(rel='stylesheet' href='/stylesheets/footer.css')
		block aimcss

	body(style='background-color: #EFEFEF;')
		include navbar.jade

		block acontent

		

		block indexjs