<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>survey</title>
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <script src='../public/javascripts/jquery-2.2.3.js'></script>
    <link rel='stylesheet' href='../public/stylesheets/navbar.css' />
</head>
<body>
	<nav>
		<div class='navbar'>
			<img src="../public/images/豆瓣音乐人.jpg" alt="Logo">
			<ul class="navbar-ul">
				<li class="navbar-content">问卷管理</li>
				<li class="navbar-content">我的问卷</li>
				<li class="navbar-content">其他人的问卷</li>
				<li class="navbar-sign">登陆</li>
			</ul>
		</div>
	</nav>
</body>
</html>