<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>survey</title>
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='stylesheet', href='../public/stylesheets/bootstrap.min.css'/>
    <script src='../public/javascripts/jquery-2.2.3.js'></script>
    <script src='../public/javascripts/bootstrap.min.js'></script> 
</head>
<body>
	<div class="container" style="width: 800px">
		<div class="row">
			<div class="col-md-4">标题</div>
			<div class="col-md-3">时间</div>
			<div class="col-md-2">状态</div>
			<div class="col-md-1">操作</div>
			<div class="col-md-2">
				<button class="btn btn-warning btn-xs" type="submit"><span class='glyphicon glyphicon-plus' aria-hidden='true'></span>新建问卷</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<input type='radio' name='survey1'>这是我的第一份问卷
			</div>
			<div class="col-md-3">2016-04-12 20:46:52</div>
			<div class="col-md-2">发布中</div>
			<div class="col-md-1">
				<button class='btn btn-default btn-xs' type='submit'>编辑</button>
			</div>
			<div class="col-md-1">
				<button class='btn btn-default btn-xs' type='submit'>删除</button>
			</div>
			<div class="col-md-1">
				<button class='btn btn-default btn-xs' type='submit'>查看问卷</button>
			</div>
		</div>
	</div>
</body>
</html>